*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

body{
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: rgb(11, 8, 35);
   overflow: hidden;
}
.Main-chat, .Sidebar{
  height: calc(100vh - 50px);
}
.ChatBox{
  height: calc(100vh - 150px);
  box-shadow: none;
}



// Sidebar Scrollbar
.hide-scroll-bar::-webkit-scrollbar{
    display: none;     
    
}


  
  .input {
    display: flex;
    align-items: center;
    border-radius: 20px;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    padding: 0 10px; 
   
  }
  
  .message-icon {
    /* Add any styles for the icon here */
    
    color: rgb(193, 190, 190);
    background-color: transparent;
    cursor: pointer;
    
    
  
  }
  
  
  .input-field {
    
    height: 3.7rem;
    background-color: transparent;
    border-radius: 10px; /* Remove the border if not needed */
    padding-left: 20px; /* Adjust the padding to make space for the icon */
    box-sizing: border-box;
    outline: none;
  }
.hamburger{
  display: none;
}

.history:hover{
  background-color:  #363a45;;
}
  
  @media (min-width: 480px) and (max-width: 640px) {
    html{
      font-size: 65%;
  }
    .input-field {
      width: 400px;
      
    }
    .Sidebar{
      display: none;
    }
    .Main-chat{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      margin-top: 0;
    }
    .ChatBox{
      padding: 0;
    }
    .API-chat{
      padding: 0 10px;
    }
    .message-icon {
      /* Add any styles for the icon here */
      width: 30px;
    }
    .header ul li .social{
      display: none;
    }
    .msg{
      display: none;
    }
    .social{
      display: none;
    }
    .right-sidebar{
      width: 70%;
    }
    .hamburger{
      display: block;
    }
  }
@media (min-width: 340px) and (max-width: 480px){
  html{
    font-size: 65%;
}
  .input-field {
    width: 300px;
    
  }
  .Sidebar{
    display: none;
  }
  .Main-chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 0;
  }
  .ChatBox{
    padding: 0;
  }
  .API-chat{
    padding: 0 10px;
  }
  .message-icon {
    /* Add any styles for the icon here */
    width: 30px;
  }
  .header ul li .social{
    display: none;
  }
  .msg{
    display: none;
  }
  .social{
    display: none;
  }
  .right-sidebar .ModalSidebar {
   width: 300px;
  }
  .hamburger{
    display: block;
  }
}