*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

  @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&display=swap');

body{
    font-family: 'Bebas Neue', sans-serif;
font-family: 'Poppins', sans-serif;
background-color: rgb(11, 8, 35);
    overflow: hidden;
}




// Sidebar Scrollbar
.hide-scroll-bar::-webkit-scrollbar{
    display: none;     
    
}


  
  .input {
    display: flex;
    align-items: center;
    border-radius: 20px;
  }
  
  .icon-container {
    display: flex;
    align-items: center;
    padding: 0 10px; 
   
  }
  
  .message-icon {
    /* Add any styles for the icon here */
    width: 50px;
    height: 35px;
    color: rgb(193, 190, 190);
    background-color: transparent;
    cursor: pointer;
    
    
  
  }
  
  
  .input-field {
    width: 900px;
    height: 4rem;
    background-color: transparent;
    border-radius: 10px; /* Remove the border if not needed */
    padding-left: 10px; /* Adjust the padding to make space for the icon */
    box-sizing: border-box;
    outline: none;
  }
  .user-msg,.gpt-response
  {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
   
}

  @media (min-width: 1280px) and (max-width: 1536px) {
    /* Sidebar */
    .Sidebar {
      width: 20%;
      height: 100vh;
    }
  
    /* Main chat */
    .Main-chat {
      width: 80%;
      height: 100vh;

    
    }
    html{
        font-size: 62.5%;
    }
    .pro-version{
        display: flex;
        justify-content: center;
        margin-top: 0;
    }
    
    
    /* Add any additional styling for elements in this size range */
  }
  @media (min-width: 1680px) and (max-width: 1920px){
    html{
        font-size: 80%;
    }
    .pro-version{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
  }
  @media (min-width: 720px) and (max-width: 1080px){
    html{
        font-size: 80%;
    }
    .pro-version{
      padding: 10px 10px;
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }



    .input-field {
      width: 400px;
      height: 4rem;
      background-color: transparent;
      border-radius: 10px; /* Remove the border if not needed */
      padding-left: 10px; /* Adjust the padding to make space for the icon */
      box-sizing: border-box;
      outline: none;
    }
    .Sidebar{
      width: 30%;
    }
    .ChatBox{
      padding: 0;
    }
    .API-chat{
      padding: 0 10px;
    }
  }
  @media (min-width: 640px) and (max-width: 719px){
    html{
      font-size: 85%;
  }
    .input-field {
      width: 300px;
      
    }
    .Sidebar{
      width: 40%;
    }
    .ChatBox{
      padding: 0;
    }
    .API-chat{
      padding: 0 10px;
    }
  }
  @media (min-width: 480px) and (max-width: 640px) {
    html{
      font-size: 65%;
  }
    .input-field {
      width: 400px;
      
    }
    .Sidebar{
      display: none;
    }
    .Main-chat{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 20px;
      margin-top: 0;
    }
    .ChatBox{
      padding: 0;
    }
    .API-chat{
      padding: 0 10px;
    }
    .message-icon {
      /* Add any styles for the icon here */
      width: 30px;
    }
    .header ul li .social{
      display: none;
    }
    .msg{
      display: none;
    }
  }
@media (min-width: 340px) and (max-width: 480px){
  html{
    font-size: 65%;
}
  .input-field {
    width: 300px;
    
  }
  .Sidebar{
    display: none;
  }
  .Main-chat{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    margin-top: 0;
  }
  .ChatBox{
    padding: 0;
  }
  .API-chat{
    padding: 0 10px;
  }
  .message-icon {
    /* Add any styles for the icon here */
    width: 30px;
  }
  .header ul li .social{
    display: none;
  }
  .msg{
    display: none;
  }
}